Source: libwxadditions30
Priority: extra
XSBC-Original-Maintainer: Ryan Mulder <rjmyst3@gmail.com>
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), libwxgtk3.0-dev (>= 3.0.0), libwxgtk3.0-0-dbg (>= 3.0.0), libgtk2.0-dev
Standards-Version: 3.8.0
Section: libs
 
Package: libwxadditions30-dev
Section: libdevel
Architecture: any
Depends: libwxadditions30 (= ${binary:Version})
Description: more widgets
 widgets galore

Package: libwxadditions30
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: more widgets
 widgets galore

Package: libwxadditions30-dbg
Section: libs
Architecture: any
Depends: libwxadditions30 (= ${binary:Version}), ${shlibs:Depends}
Description: more widgets
 widgets galore
