#!/usr/bin/make -f
# -*- makefile -*-

# shared library versions, option 1
version=2.8
major=2
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

get-orig-source:
	svn export svn://svn.code.sf.net/p/wxformbuilder/code/plugins/additions/trunk libwxadditions28
	
	cd $(CURDIR)/libwxadditions28 && install/linux/create_src_tarball
	rm -rf $(CURDIR)/libwxadditions28
	
configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	
	$(MAKE) -C$(CURDIR)/build CONFIG=Release
	$(MAKE) -C$(CURDIR)/build CONFIG=Debug

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	$(MAKE) -C$(CURDIR)/build CONFIG=Release clean
	$(MAKE) -C$(CURDIR)/build CONFIG=Debug clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	$(CURDIR)/build/install $(CURDIR)/debian/libwxadditions28/usr
	$(CURDIR)/build/install-dbg $(CURDIR)/debian/libwxadditions28-dbg/usr
	$(CURDIR)/build/install-dev $(CURDIR)/debian/libwxadditions28-dev/usr

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
