#!/usr/bin/make -f

get-orig-source:
	svn export svn://svn.code.sf.net/p/wxformbuilder/code/plugins/additions/trunk libwxadditions30
	
	cd $(CURDIR)/libwxadditions30 && install/linux/create_src_tarball
	rm -rf $(CURDIR)/libwxadditions30
	
configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	
	$(MAKE) -C$(CURDIR)/build config=release
	$(MAKE) -C$(CURDIR)/build config=debug

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	$(MAKE) -C$(CURDIR)/build config=release clean
	$(MAKE) -C$(CURDIR)/build config=debug clean

	dh_clean 

install: build

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
