Package: libwxadditions28-dbg
Source: libwxadditions28
Version: 2.8.7-1
Architecture: amd64
Maintainer: Ryan Mulder <rjmyst3@gmail.com>
Installed-Size: 4652
Depends: libatk1.0-0 (>= 1.20.0), libc6 (>= 2.4), libcairo2 (>= 1.6.0), libgcc1 (>= 1:4.1.1-21), libglib2.0-0 (>= 2.12.0), libgtk2.0-0 (>= 2.12.0), libpango1.0-0 (>= 1.20.5), libstdc++6 (>= 4.1.1-21), libwxbase2.8-dbg (>= 2.8.7.1), libwxgtk2.8-dbg (>= 2.8.7.1)
Section: libs
Priority: extra
Description: more widgets
 widgets galore
