Source: wxfb-wxadditions
Section: devel
Priority: optional
Maintainer: Ryan Mulder <rjmyst3@gmail.com>
Build-Depends: debhelper (>= 5), libwxgtk3.0-dev, libwxadditions30-dev (>= 3.0.10.5)
Standards-Version: 3.8.0

Package: wxfb-wxadditions
Architecture: any
Depends: ${shlibs:Depends}, wxformbuilder (>= 3.4.01), libwxadditions30 (>= 3.0.10.5)
Description: Additional controls for wxFormBuilder
 wxAdditions is a collection of controls that are not part
 of the standard wxWidgets library. 
 .
 This plugin is maintained by the wxFormBuilder team.
