Package: libwxadditions28-dev
Source: libwxadditions28
Version: 2.8.7-1
Architecture: amd64
Maintainer: Ryan Mulder <rjmyst3@gmail.com>
Installed-Size: 1108
Depends: libwxadditions28 (= 2.8.7-1)
Section: libdevel
Priority: extra
Description: more widgets
 widgets galore
